In [1]:
# coding=utf-8
"""
This module contains the tests for the exchanges classes
"""
from fastlane_bot import Bot, Config
from fastlane_bot.bot import CarbonBot
from fastlane_bot.tools.cpc import ConstantProductCurve as CPC
from fastlane_bot.events.exchanges import UniswapV2, UniswapV3, SushiswapV2, CarbonV1, BancorV3
from fastlane_bot.events.interface import QueryInterface
from fastlane_bot.helpers.poolandtokens import PoolAndTokens
from fastlane_bot.helpers import TradeInstruction, TxReceiptHandler, TxRouteHandler, TxSubmitHandler, TxHelpers, TxHelper
from fastlane_bot.events.manager import Manager
from fastlane_bot.events.interface import QueryInterface
import pytest
import math
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CPC))
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(Bot))
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(UniswapV2))
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(UniswapV3))
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(SushiswapV2))
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CarbonV1))
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(BancorV3))
from fastlane_bot.testing import *

plt.style.use('seaborn-dark')
plt.rcParams['figure.figsize'] = [12,6]
from fastlane_bot import __VERSION__
require("3.0", __VERSION__)

ConstantProductCurve v2.10.1 (07/May/2023)
CarbonBot v3-b2.2 (20/June/2023)
UniswapV2 v0.0.1 (2023-07-03)
UniswapV3 v0.0.1 (2023-07-03)
SushiswapV2 v0.0.1 (2023-07-03)
CarbonV1 v0.0.1 (2023-07-03)
BancorV3 v0.0.1 (2023-07-03)
imported m, np, pd, plt, os, sys, decimal; defined iseq, raises, require
Version = 3-b2.2 [requirements >= 3.0 is met]

/var/folders/rt/qnj8r6yd6131ccxkw_k9d9gc0000gn/T/ipykernel_59284/11046064.py:25: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-dark')

In [2]:
C = cfg = Config.new(config=Config.CONFIG_MAINNET)
assert (C.NETWORK == C.NETWORK_MAINNET)
assert (C.PROVIDER == C.PROVIDER_ALCHEMY)
setup_bot = CarbonBot(ConfigObj=C)

In [3]:
import json

pools = None
with open('latest_pool_data.json') as f:
    pools = json.load(f)
pools = [pool for pool in pools]

In [4]:
pools[0]
static_pools = pools

In [5]:
def check_nan(val):
    if type(val) == float:
        return None if math.isnan(val) else val
    else: 
        return val

In [6]:
# print(check_nan(pools[0]['last_updated']))

In [7]:
def s_pool(pool, key):
    if key in pool:
        return check_nan(pool[key])
    else:
        return None

In [8]:
print(s_pool(pools[0], 'last_updated'))

None

In [9]:
# static_pools = [PoolAndTokens(ConfigObj=C, id=0, cid=pool["cid"], last_updated=s_pool(pool, "last_updated"), last_updated_block=s_pool(pool, "last_updated_block"), descr=s_pool(pool, "descr"), pair_name=s_pool(pool, "pair_name"), exchange_name=s_pool(pool, "exchange_name"), fee=s_pool(pool, "fee"), fee_float=s_pool(pool, "fee_float"), tkn0_balance=s_pool(pool, "tkn0_balance"), tkn1_balance=s_pool(pool, "tkn_1_balance"), z_0=s_pool(pool, "z_0"), y_0=s_pool(pool, "y_0"), A_0=s_pool(pool, "A_0"), B_0=s_pool(pool, "B_0"), z_1=s_pool(pool, "z_1"), y_1=s_pool(pool, "y_1"), A_1=s_pool(pool, "A_1"), B_1=s_pool(pool, "B_1"), sqrt_price_q96=s_pool(pool, "sqrt_price_q96"), tick=s_pool(pool, "tick"), tick_spacing=s_pool(pool, "tick_spacing"), liquidity=s_pool(pool, "liquidity"), address=s_pool(pool, "address"), anchor=s_pool(pool, "anchor"), tkn0=s_pool(pool, "tkn0"), tkn1=s_pool(pool, "tkn1"), tkn0_address=s_pool(pool, "tkn0_address"), tkn0_decimals=s_pool(pool, "tkn0_decimals"), tkn1_address=s_pool(pool, "tkn1_address"), tkn1_decimals=s_pool(pool, "tkn1_decimals"), tkn0_key=s_pool(pool, "tkn0_key"), tkn1_key=s_pool(pool, "tkn1_key")) for idx, pool in enumerate(pools)]

In [10]:
len(pools)

5190

In [11]:
len(static_pools)

5190

In [12]:
print(pools[0])
print(static_pools[0])

{'cid': '0x06b295766e941eb449be6a47d11466a50debbacc20638269523dac448fd210d4', 'last_updated': nan, 'last_updated_block': 17656341, 'descr': 'uniswap_v3 WETH-6Cc2/LHINU-038d 3000', 'pair_name': 'WETH-6Cc2/LHINU-038d', 'exchange_name': 'uniswap_v3', 'fee': 3000, 'fee_float': 0.003, 'address': '0xc5BBA4469eD5B55eE21228C9E7261816081C4Bfb', 'anchor': nan, 'tkn0_address': '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', 'tkn1_address': '0xCeDefE438860D2789dA6419b3a19cEcE2A41038d', 'tkn0_key': 'WETH-6Cc2', 'tkn1_key': 'LHINU-038d', 'tkn0_decimals': 18.0, 'tkn1_decimals': 18.0, 'exchange_id': 4.0, 'tkn0_symbol': 'WETH', 'tkn1_symbol': 'LHINU', 'timestamp': nan, 'tkn0_balance': nan, 'tkn1_balance': nan, 'liquidity': 0, 'sqrt_price_q96': 377342446735349330393098223164703, 'tick': 169379, 'tick_spacing': 60, 'exchange': 'uniswap_v3'}
{'cid': '0x06b295766e941eb449be6a47d11466a50debbacc20638269523dac448fd210d4', 'last_updated': nan, 'last_updated_block': 17656341, 'descr': 'uniswap_v3 WETH-6Cc2/LHINU-038d 3000', 'pair_name': 'WETH-6Cc2/LHINU-038d', 'exchange_name': 'uniswap_v3', 'fee': 3000, 'fee_float': 0.003, 'address': '0xc5BBA4469eD5B55eE21228C9E7261816081C4Bfb', 'anchor': nan, 'tkn0_address': '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', 'tkn1_address': '0xCeDefE438860D2789dA6419b3a19cEcE2A41038d', 'tkn0_key': 'WETH-6Cc2', 'tkn1_key': 'LHINU-038d', 'tkn0_decimals': 18.0, 'tkn1_decimals': 18.0, 'exchange_id': 4.0, 'tkn0_symbol': 'WETH', 'tkn1_symbol': 'LHINU', 'timestamp': nan, 'tkn0_balance': nan, 'tkn1_balance': nan, 'liquidity': 0, 'sqrt_price_q96': 377342446735349330393098223164703, 'tick': 169379, 'tick_spacing': 60, 'exchange': 'uniswap_v3'}

In [13]:
state = pools
exchanges = list({ex['exchange_name'] for ex in state})
db = QueryInterface(state=state, ConfigObj=C, exchanges=exchanges)
setup_bot.db = db

In [14]:
print(state[0])

{'cid': '0x06b295766e941eb449be6a47d11466a50debbacc20638269523dac448fd210d4', 'last_updated': nan, 'last_updated_block': 17656341, 'descr': 'uniswap_v3 WETH-6Cc2/LHINU-038d 3000', 'pair_name': 'WETH-6Cc2/LHINU-038d', 'exchange_name': 'uniswap_v3', 'fee': 3000, 'fee_float': 0.003, 'address': '0xc5BBA4469eD5B55eE21228C9E7261816081C4Bfb', 'anchor': nan, 'tkn0_address': '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', 'tkn1_address': '0xCeDefE438860D2789dA6419b3a19cEcE2A41038d', 'tkn0_key': 'WETH-6Cc2', 'tkn1_key': 'LHINU-038d', 'tkn0_decimals': 18.0, 'tkn1_decimals': 18.0, 'exchange_id': 4.0, 'tkn0_symbol': 'WETH', 'tkn1_symbol': 'LHINU', 'timestamp': nan, 'tkn0_balance': nan, 'tkn1_balance': nan, 'liquidity': 0, 'sqrt_price_q96': 377342446735349330393098223164703, 'tick': 169379, 'tick_spacing': 60, 'exchange': 'uniswap_v3'}

In [15]:
# db.handle_token_key_cleanup()

In [16]:
print(pools[0])

{'cid': '0x06b295766e941eb449be6a47d11466a50debbacc20638269523dac448fd210d4', 'last_updated': nan, 'last_updated_block': 17656341, 'descr': 'uniswap_v3 WETH-6Cc2/LHINU-038d 3000', 'pair_name': 'WETH-6Cc2/LHINU-038d', 'exchange_name': 'uniswap_v3', 'fee': 3000, 'fee_float': 0.003, 'address': '0xc5BBA4469eD5B55eE21228C9E7261816081C4Bfb', 'anchor': nan, 'tkn0_address': '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', 'tkn1_address': '0xCeDefE438860D2789dA6419b3a19cEcE2A41038d', 'tkn0_key': 'WETH-6Cc2', 'tkn1_key': 'LHINU-038d', 'tkn0_decimals': 18.0, 'tkn1_decimals': 18.0, 'exchange_id': 4.0, 'tkn0_symbol': 'WETH', 'tkn1_symbol': 'LHINU', 'timestamp': nan, 'tkn0_balance': nan, 'tkn1_balance': nan, 'liquidity': 0, 'sqrt_price_q96': 377342446735349330393098223164703, 'tick': 169379, 'tick_spacing': 60, 'exchange': 'uniswap_v3'}

In [17]:
static_pool_data_filename = "static_pool_data"

static_pool_data = pd.read_csv(f"fastlane_bot/data/{static_pool_data_filename}.csv", low_memory=False)
    
uniswap_v2_event_mappings = pd.read_csv("fastlane_bot/data/uniswap_v2_event_mappings.csv", low_memory=False)
        
tokens = pd.read_csv("fastlane_bot/data/tokens.csv", low_memory=False)
        
exchanges = "carbon_v1,bancor_v3,uniswap_v3,uniswap_v2,sushiswap_v2"

exchanges = exchanges.split(",")
arb_mode = "bancor_v3"

alchemy_max_block_fetch = 20

In [18]:
static_pool_data["cid"] = [
        cfg.w3.keccak(text=f"{row['descr']}").hex()
        for index, row in static_pool_data.iterrows()
    ]

static_pool_data = [
    row for index, row in static_pool_data.iterrows()
    if row["exchange_name"] in exchanges
]

static_pool_data = pd.DataFrame(static_pool_data)

In [19]:
static_pool_data['exchange_name'].unique()

array(['uniswap_v3', 'bancor_v3', 'uniswap_v2', 'sushiswap_v2'],
      dtype=object)

In [20]:
from joblib import Parallel, delayed

# mgr = Manager(
#         web3=cfg.w3,
#         cfg=cfg,
#         pool_data=static_pools.to_dict(orient="records"),
#         SUPPORTED_EXCHANGES=exchanges,
#         alchemy_max_block_fetch=alchemy_max_block_fetch,
#         uniswap_v2_event_mappings=uniswap_v2_event_mappings,
#         tokens=tokens.to_dict(orient="records"),
#     )
# Initialize data fetch manager
mgr = Manager(
    web3=cfg.w3,
    cfg=cfg,
    pool_data=static_pool_data.to_dict(orient="records"),
    SUPPORTED_EXCHANGES=exchanges,
    alchemy_max_block_fetch=alchemy_max_block_fetch,
    uniswap_v2_event_mappings=uniswap_v2_event_mappings,
    tokens=tokens.to_dict(orient="records"),
)

# Add initial pools for each row in the static_pool_data
start_time = time.time()
Parallel(n_jobs=-1, backend="threading")(
    delayed(mgr.add_pool_to_exchange)(row) for row in mgr.pool_data
)
cfg.logger.info(f"Time taken to add initial pools: {time.time() - start_time}")

# check if any duplicate cid's exist in the pool data
mgr.deduplicate_pool_data()
cids = [pool["cid"] for pool in mgr.pool_data]
assert len(cids) == len(set(cids)), "duplicate cid's exist in the pool data"

2023-07-09 06:37:55,483 [fastlane:INFO] - Time taken to add initial pools: 0.09219932556152344

In [21]:
# db = QueryInterface(
#             ConfigObj=mgr.cfg,
#             state=mgr.pool_data,
#             uniswap_v2_event_mappings=mgr.uniswap_v2_event_mappings,
#             exchanges=mgr.exchanges,
#         )

In [22]:
def init_bot(mgr: Manager) -> CarbonBot:
    """
    Initializes the bot.

    Parameters
    ----------
    mgr : Manager
        The manager object.

    Returns
    -------
    CarbonBot
        The bot object.
    """
    mgr.cfg.logger.info("Initializing the bot...")
    # db = QueryInterface(
    #     mgr=mgr,
    #     ConfigObj=mgr.cfg,
    #     state=mgr.pool_data,
    #     uniswap_v2_event_mappings=mgr.uniswap_v2_event_mappings,
    #     exchanges=mgr.exchanges,
    # )
    bot = CarbonBot(ConfigObj=mgr.cfg)
    bot.db = db
    assert isinstance(
        bot.db, QueryInterface
    ), "QueryInterface not initialized correctly"
    return bot

In [23]:
bot = init_bot(mgr)

2023-07-09 06:37:55,495 [fastlane:INFO] - Initializing the bot...

In [24]:
# db = QueryInterface(
#             ConfigObj=mgr.cfg,
#             state=mgr.pool_data,
#             uniswap_v2_event_mappings=mgr.uniswap_v2_event_mappings,
#             exchanges=mgr.exchanges,
#         )

In [25]:
db.handle_token_key_cleanup()

In [26]:
tokens = bot.db.get_tokens()
tokens

[Token(symbol='DSU', address='0x605D26FBd5be761089281d5cec2Ce86eeA667109', decimals=18.0, key='DSU-7109'),
 Token(symbol='UZUMAKI', address='0xD4c64f0Fe38ecdaF0Baefd7859E18185a73b9aa3', decimals=9.0, key='UZUMAKI-9aa3'),
 Token(symbol='BIRD', address='0x70401dFD142A16dC7031c56E862Fc88Cb9537Ce0', decimals=18.0, key='BIRD-7Ce0'),
 Token(symbol='CTI', address='0x8c18D6a985Ef69744b9d57248a45c0861874f244', decimals=18.0, key='CTI-f244'),
 Token(symbol='$colR', address='0x14b40AD2EBA6c1B31db2bA817b07578AFB414415', decimals=18.0, key='$colR-4415'),
 Token(symbol='BASED', address='0x7DdA472c943f83925E36F2ee5ADf7815c351e433', decimals=9.0, key='BASED-e433'),
 Token(symbol='DIE', address='0x6Ef6610d24593805144d73b13d4405E00A4E4aC7', decimals=18.0, key='DIE-4aC7'),
 Token(symbol='MTHD', address='0x84bA4aEcfDe39D69686a841BAb434C32d179a169', decimals=18.0, key='MTHD-a169'),
 Token(symbol='MATRIX', address='0xc8D3DCb63C38607Cb0c9d3F55E8eccE628A01C36', decimals=18.0, key='MATRIX-1C36'),
 Token(symbol='WUKONG', address='0xA3ec7DF93090f4DE46FaEA09F73cc40ebe7dD714', decimals=18.0, key='WUKONG-D714'),
 Token(symbol='Trump', address='0x34134AB45843B4915c1C28C5F802c375861002Bd', decimals=18.0, key='Trump-02Bd'),
 Token(symbol='SLD', address='0x1ef6A7e2c966fb7C5403EFEFdE38338b1a95a084', decimals=18.0, key='SLD-a084'),
 Token(symbol='ICSA', address='0xfc4913214444aF5c715cc9F7b52655e788A569ed', decimals=9.0, key='ICSA-69ed'),
 Token(symbol='MUST', address='0x9C78EE466D6Cb57A4d01Fd887D2b5dFb2D46288f', decimals=18.0, key='MUST-288f'),
 Token(symbol='DOGEFI', address='0x9B9087756eCa997C5D595C840263001c9a26646D', decimals=18.0, key='DOGEFI-646D'),
 Token(symbol='Happy', address='0x651e44D0df89055c00513d0efb9E8d1A0C843378', decimals=18.0, key='Happy-3378'),
 Token(symbol='Suki', address='0xD212046F89680aC9F106B9c63f314cc9808e18d5', decimals=18.0, key='Suki-18d5'),
 Token(symbol='ADX', address='0xADE00C28244d5CE17D72E40330B1c318cD12B7c3', decimals=18.0, key='ADX-B7c3'),
 Token(symbol='DDOS', address='0x7FBEC0bb6A7152e77C30D005B5D49cbC08A602C3', decimals=18.0, key='DDOS-02C3'),
 Token(symbol='GEM', address='0x9008064E6cf73e27a3Aba4B10E69f855A4F8efcC', decimals=18.0, key='GEM-efcC'),
 Token(symbol='REVO', address='0x155040625D7ae3e9caDA9a73E3E44f76D3Ed1409', decimals=18.0, key='REVO-1409'),
 Token(symbol='2.10E+09', address='0x00021e88e327E70A9aB660FFf656111b8467B00c', decimals=18.0, key='21e8-B00c'),
 Token(symbol='ANT', address='0xa117000000f279D81A1D3cc75430fAA017FA5A2e', decimals=18.0, key='ANT-5A2e'),
 Token(symbol='BOTTO', address='0x9DFAD1b7102D46b1b197b90095B5c4E9f5845BBA', decimals=18.0, key='BOTTO-5BBA'),
 Token(symbol='LOOMI', address='0xEb57Bf569Ad976974C1F861a5923A59F40222451', decimals=18.0, key='LOOMI-2451'),
 Token(symbol=' SHOP', address='0x64b78325d7495D6d4be92f234fa3f3B8d8964B8b', decimals=18.0, key=' SHOP-4B8b'),
 Token(symbol='PEPP', address='0xae70b9223348af9875c49ec7b9E5B5Ba5bBb635a', decimals=18.0, key='PEPP-635a'),
 Token(symbol='OJA', address='0x0aA7eFE4945Db24d95cA6E117BBa65Ed326e291A', decimals=18.0, key='OJA-291A'),
 Token(symbol='FOMO', address='0x8387c2d1b0EEa6B91b910afF66a7bD2710a5946A', decimals=18.0, key='FOMO-946A'),
 Token(symbol='BabyGeke', address='0xb67AA502CD45B1e9373654AB41811A5Cb2B8Ea86', decimals=9.0, key='BabyGeke-Ea86'),
 Token(symbol='CENT', address='0x08ba718F288c3b12B01146816bef9FA03cC635bc', decimals=18.0, key='CENT-35bc'),
 Token(symbol='ARTIC', address='0xE83D5FB2c60B3A2597452e248CF7b2f52a7E731e', decimals=18.0, key='ARTIC-731e'),
 Token(symbol='0xEncrypt', address='0x397b102dECcACE4AA8E5bA63EeDb8e65ad83E20c', decimals=9.0, key='0xEncrypt-E20c'),
 Token(symbol='KOFC', address='0x49a0ab4Fd7fEea2F89Ca4545A8BA1ae01AeD15fB', decimals=18.0, key='KOFC-15fB'),
 Token(symbol='PEEPO', address='0xaADA04204e9e1099DaF67cf3D5D137E84E41CF41', decimals=18.0, key='PEEPO-CF41'),
 Token(symbol='SUNC', address='0x692aCCdD8b86692427E0aa4752AE917Df01CC56F', decimals=18.0, key='SUNC-C56F'),
 Token(symbol='FCL', address='0xF4d861575ecC9493420A3f5a14F85B13f0b50EB3', decimals=18.0, key='FCL-0EB3'),
 Token(symbol='HELLSING', address='0xB087C2180e3134Db396977065817aed91FEa6EAD', decimals=9.0, key='HELLSING-6EAD'),
 Token(symbol='wPE', address='0xd075e95423C5c4BA1E122CaE0f4CdFA19b82881b', decimals=18.0, key='wPE-881b'),
 Token(symbol='AGB', address='0xBddF903F43dC7d9801F3F0034bA306169074EF8e', decimals=18.0, key='AGB-EF8e'),
 Token(symbol='FORM', address='0x21381e026Ad6d8266244f2A583b35F9E4413FA2a', decimals=18.0, key='FORM-FA2a'),
 Token(symbol='ARB', address='0xB50721BCf8d664c30412Cfbc6cf7a15145234ad1', decimals=18.0, key='ARB-4ad1'),
 Token(symbol='MIND', address='0xD46AA1AA0648dfEc84bfcF15C9E13D94D7B7552a', decimals=18.0, key='MIND-552a'),
 Token(symbol='TIF', address='0x7298D65Dee4a57d5Ce807fCc93d6E84247BAf922', decimals=18.0, key='TIF-f922'),
 Token(symbol='PHTR', address='0xE1Fc4455f62a6E89476f1072530C20CF1A0622dA', decimals=18.0, key='PHTR-22dA'),
 Token(symbol='DOWS', address='0x661Ab0Ed68000491d98C796146bcF28c20d7c559', decimals=18.0, key='DOWS-c559'),
 Token(symbol='GIF', address='0x6e378A694232b3492c9000B54f2E2bf955d067b6', decimals=9.0, key='GIF-67b6'),
 Token(symbol='BRAD', address='0x0D8813A9C635E7F81EAE7A3a739b70EdE6099AE8', decimals=18.0, key='BRAD-9AE8'),
 Token(symbol='DEMON', address='0x65ceb4AB1e1D3266C2acd0E31b5934A918027A3D', decimals=18.0, key='DEMON-7A3D'),
 Token(symbol='SMILE', address='0x5E729ac700dc095E12A3Dc7d838bE7BeEc36D547', decimals=18.0, key='SMILE-D547'),
 Token(symbol='RAI', address='0x2eD7A8d35077e8BFaE188169b17e509051560840', decimals=18.0, key='RAI-0840'),
 Token(symbol='KEKE', address='0x3684C1BedB884923a933C9aC95a487d5c38Ab7e7', decimals=18.0, key='KEKE-b7e7'),
 Token(symbol='GOKUBLACK', address='0xd2d0D2CE95f3708543c38e7409f7e53618C5007C', decimals=9.0, key='GOKUBLACK-007C'),
 Token(symbol='eYe', address='0x9A257C90Fa239fBA07771ef7da2d554D148c2E89', decimals=18.0, key='eYe-2E89'),
 Token(symbol='ID', address='0xEBd9D99A3982d547C5Bb4DB7E3b1F9F14b67Eb83', decimals=18.0, key='ID-Eb83'),
 Token(symbol='DINGER', address='0x9e5BD9D9fAd182ff0A93bA8085b664bcab00fA68', decimals=9.0, key='DINGER-fA68'),
 Token(symbol='iHomes', address='0x9398e2D831354C749cfE33F65c3ef61b92B20437', decimals=16.0, key='iHomes-0437'),
 Token(symbol='X.AI', address='0xBeD4Dc0c67A925e62b9322408E392a13a161AE8C', decimals=9.0, key='X.AI-AE8C'),
 Token(symbol='RAD', address='0xdDc6625FEcA10438857DD8660C021Cd1088806FB', decimals=18.0, key='RAD-06FB'),
 Token(symbol='DWEB', address='0xE7f58A92476056627f9FdB92286778aBd83b285F', decimals=18.0, key='DWEB-285F'),
 Token(symbol='$BUBBLE', address='0x64d84dd193D8AE4Be3741519E437230433d25092', decimals=18.0, key='$BUBBLE-5092'),
 Token(symbol='REEE', address='0x25062c64Fbb1b0f56aa8b95a6892D4cb61915814', decimals=9.0, key='REEE-5814'),
 Token(symbol='Rhllor', address='0x90E2Fa98DfC518317600Dd3DC571DE8D071a7238', decimals=9.0, key='Rhllor-7238'),
 Token(symbol='FOX', address='0xc770EEfAd204B5180dF6a14Ee197D99d808ee52d', decimals=18.0, key='FOX-e52d'),
 Token(symbol='SNP', address='0x6911F552842236bd9E8ea8DDBB3fb414e2C5FA9d', decimals=18.0, key='SNP-FA9d'),
 Token(symbol='SHIMASK', address='0x304090b94ce46210E4A46bE37743a753Caf1D25C', decimals=9.0, key='SHIMASK-D25C'),
 Token(symbol='ICHI', address='0x111111517e4929D3dcbdfa7CCe55d30d4B6BC4d6', decimals=18.0, key='ICHI-C4d6'),
 Token(symbol='BCDT', address='0xAcfa209Fb73bF3Dd5bBfb1101B9Bc999C49062a5', decimals=18.0, key='BCDT-62a5'),
 Token(symbol='MUSK', address='0x7bDF3FF2513a4f467Bc25B7fD4B8404Ad8126cB3', decimals=18.0, key='MUSK-6cB3'),
 Token(symbol='BASE', address='0xe9f84d418B008888A992Ff8c6D22389C2C3504e0', decimals=8.0, key='BASE-04e0'),
 Token(symbol='FINU', address='0x2c022e58C5E3Ee213F06f975fd8a0d3a6fE9Ca1C', decimals=18.0, key='FINU-Ca1C'),
 Token(symbol='GOOD', address='0x7e42B8Ad7A29dAf348a674b880858eb46aD3A198', decimals=18.0, key='GOOD-A198'),
 Token(symbol='WOLFY', address='0x7DbbCaE15d4DB168e01673400D7844870cc1e36f', decimals=9.0, key='WOLFY-e36f'),
 Token(symbol='ISLA', address='0x20a68F9e34076b2dc15ce726d7eEbB83b694702d', decimals=18.0, key='ISLA-702d'),
 Token(symbol='IND', address='0xf8e386EDa857484f5a12e4B5DAa9984E06E73705', decimals=18.0, key='IND-3705'),
 Token(symbol='PP', address='0x9565c2036963697786705120Fc59310F747bCfD0', decimals=18.0, key='PP-CfD0'),
 Token(symbol='dsETH', address='0x341c05c0E9b33C0E38d64de76516b2Ce970bB3BE', decimals=18.0, key='dsETH-B3BE'),
 Token(symbol='Emoji', address='0xF12Ccd17759367CF139776710B47b00C43D1AC2b', decimals=9.0, key='Emoji-AC2b'),
 Token(symbol='KENNEL', address='0x25d4e7fe624FcC6E7F0b52D142F40c9ACEcF039a', decimals=18.0, key='KENNEL-039a'),
 Token(symbol='CATE', address='0xf05897CfE3CE9BBBfE0751CBE6B1B2c686848DCb', decimals=9.0, key='CATE-8DCb'),
 Token(symbol='ELMO', address='0x335F4e66B9B61CEE5CeaDE4e727FCEC20156B2F0', decimals=18.0, key='ELMO-B2F0'),
 Token(symbol='SHUNAV2', address='0xDE72a052cBB212eFf11A4A33d61dF9C5A2De8dd1', decimals=9.0, key='SHUNAV2-8dd1'),
 Token(symbol='LAEEB', address='0x3B1a3C5d9D5C60651D4841C7814aA0FbB45A863d', decimals=18.0, key='LAEEB-863d'),
 Token(symbol='VRA', address='0xF411903cbC70a74d22900a5DE66A2dda66507255', decimals=18.0, key='VRA-7255'),
 Token(symbol='WRY', address='0x1Dff69d892d7A503088522b830EaDCBa9867f6bd', decimals=8.0, key='WRY-f6bd'),
 Token(symbol='ALD', address='0xb26C4B3Ca601136Daf98593feAeff9E0CA702a8D', decimals=18.0, key='ALD-2a8D'),
 Token(symbol='CHIMPS', address='0x14119D4F931C48f2C3b5d961C3b2A8B2d40C3a32', decimals=9.0, key='CHIMPS-3a32'),
 Token(symbol='PSYOP', address='0xf45B4De75C55FE85a7432012A0B99d4769a028B3', decimals=9.0, key='PSYOP-28B3'),
 Token(symbol='DGMV', address='0x8EEdEFe828A0f16C8fc80e46a87Bc0f1De2d960c', decimals=18.0, key='DGMV-960c'),
 Token(symbol='WPLS', address='0x97Ac4a2439A47c07ad535bb1188c989dae755341', decimals=18.0, key='WPLS-5341'),
 Token(symbol='TRENDAI', address='0x6fc73113fC1aFaB4C28d3DD4c537A1DA6045d47D', decimals=18.0, key='TRENDAI-d47D'),
 Token(symbol='ROO', address='0x9d7107c8E30617CAdc11f9692A19C82ae8bbA938', decimals=18.0, key='ROO-A938'),
 Token(symbol='NBNG', address='0x9275e8386A5BDdA160c0e621e9A6067b8fd88ea2', decimals=18.0, key='NBNG-8ea2'),
 Token(symbol='FKBEN', address='0x79DA3F30EC8449f1e8Bef0B7A5528c5F8fb232ED', decimals=18.0, key='FKBEN-32ED'),
 Token(symbol='ETH2.0', address='0x04A6b6DE116Fb8bF57e5eE8b05e0293EA3639fE8', decimals=18.0, key='ETH2.0-9fE8'),
 Token(symbol='MEWTWO', address='0x3aD7e80161BcCf1dbbd58d0883dE5dFDbBC52062', decimals=9.0, key='MEWTWO-2062'),
 Token(symbol='HAIYAA', address='0xdf456194081329961e711F5112597ED6C79a98DA', decimals=9.0, key='HAIYAA-98DA'),
 Token(symbol='ROCKI', address='0xFf44b937788215ecA197BAaf9AF69dbdC214aa04', decimals=18.0, key='ROCKI-aa04'),
 Token(symbol='SQUID', address='0xf4A1830A50697991145A17F92288D4f125072705', decimals=18.0, key='SQUID-2705'),
 Token(symbol='GAMMA', address='0x6BeA7CFEF803D1e3d5f7C0103f7ded065644e197', decimals=18.0, key='GAMMA-e197'),
 Token(symbol='SYNR', address='0xbc6E06778708177a18210181b073DA747C88490a', decimals=18.0, key='SYNR-490a'),
 Token(symbol='Dyl', address='0xE62bE16aa3c50baFb1855b4dEd7799D9150BB1A1', decimals=18.0, key='Dyl-B1A1'),
 Token(symbol='NINE', address='0x790b0a2E5c5DAFf6eF86Dd2B6413a7e9d189e7A6', decimals=9.0, key='NINE-e7A6'),
 Token(symbol='MING', address='0xd67508233a9f6432748B895655f7DF90ccd17976', decimals=18.0, key='MING-7976'),
 Token(symbol='MAGNETO', address='0x421feEbE0E58138e936F50d26448f8369962180B', decimals=9.0, key='MAGNETO-180B'),
 Token(symbol='IYKYK', address='0x7cB683151A83c2B10A30cBB003CDA9996228a2bA', decimals=18.0, key='IYKYK-a2bA'),
 Token(symbol='WHAL', address='0xF971A08C70C97bf4877A652B88125cCF000dA647', decimals=18.0, key='WHAL-A647'),
 Token(symbol='ERROR', address='0x2960d0B815ED02C74E899AACAED78FCf57e53D0e', decimals=18.0, key='ERROR-3D0e'),
 Token(symbol='EXRN', address='0xe469c4473af82217B30CF17b10BcDb6C8c796e75', decimals=0.0, key='EXRN-6e75'),
 Token(symbol='CREMAT', address='0x8b9F7e9586633cA4ABffb1F746da8dAed7849cB2', decimals=18.0, key='CREMAT-9cB2'),
 Token(symbol='DERP', address='0x878fCC2bdccCFf8c56812607b9a58F29b274C4f0', decimals=18.0, key='DERP-C4f0'),
 Token(symbol='ETHPAD', address='0x8dB1D28Ee0d822367aF8d220C0dc7cB6fe9DC442', decimals=18.0, key='ETHPAD-C442'),
 Token(symbol='GOOD', address='0x0571adfC66e8C223b5d637c3105287eD5f5d70d2', decimals=9.0, key='GOOD-70d2'),
 Token(symbol='SMOL', address='0x553539d40AE81FD0d9C4b991B0b77bE6f6Bc030e', decimals=18.0, key='SMOL-030e'),
 Token(symbol='QANX', address='0xAAA9214F675316182Eaa21C85f0Ca99160CC3AAA', decimals=18.0, key='QANX-3AAA'),
 Token(symbol='DRC', address='0xb78B3320493a4EFaa1028130C5Ba26f0B6085Ef8', decimals=18.0, key='DRC-5Ef8'),
 Token(symbol='PATH', address='0x2a2550e0A75aCec6D811AE3930732F7f3ad67588', decimals=18.0, key='PATH-7588'),
 Token(symbol='MARGE', address='0x29Cb40172D4BD50b3D640E8190974DC65538C60F', decimals=18.0, key='MARGE-C60F'),
 Token(symbol='sILV2', address='0x7E77dCb127F99ECe88230a64Db8d595F31F1b068', decimals=18.0, key='sILV2-b068'),
 Token(symbol='ALPHA', address='0xa1faa113cbE53436Df28FF0aEe54275c13B40975', decimals=18.0, key='ALPHA-0975'),
 Token(symbol='GATE', address='0x9d7630aDF7ab0b0CB00Af747Db76864df0EC82E4', decimals=18.0, key='GATE-82E4'),
 Token(symbol='SFI', address='0xb753428af26E81097e7fD17f40c88aaA3E04902c', decimals=18.0, key='SFI-902c'),
 Token(symbol='KPEPE', address='0xc5aF80B7c1F5D4be1c131b51Ea80b9597F480902', decimals=18.0, key='KPEPE-0902'),
 Token(symbol='LST', address='0x4de2573e27E648607B50e1Cfff921A33E4A34405', decimals=18.0, key='LST-4405'),
 Token(symbol='buidl', address='0x7b123f53421b1bF8533339BFBdc7C98aA94163db', decimals=18.0, key='buidl-63db'),
 Token(symbol='ORC', address='0x662b67d00A13FAf93254714DD601F5Ed49Ef2F51', decimals=18.0, key='ORC-2F51'),
 Token(symbol='TURBO', address='0xA35923162C49cF95e6BF26623385eb431ad920D3', decimals=18.0, key='TURBO-20D3'),
 Token(symbol='RIOT', address='0xf56408077487cB879c992909C5b5C66D68c02Eb4', decimals=18.0, key='RIOT-2Eb4'),
 Token(symbol='WOLVERINU', address='0x7Cc97Bf17C5AdaBe25F9D19D15A1eC8A1ad65f14', decimals=18.0, key='WOLVERINU-5f14'),
 Token(symbol='PEPED', address='0x8Fe386eC7dc28D83E10b4F0981cAb36195Ee7300', decimals=18.0, key='PEPED-7300'),
 Token(symbol='SBLX', address='0xf6af18F94d55B8888B557cb3da0Ec623BA245F80', decimals=18.0, key='SBLX-5F80'),
 Token(symbol='JOKIC', address='0x8110AC9b16CA975ace813FBBac3080b5598198AA', decimals=18.0, key='JOKIC-98AA'),
 Token(symbol='SWFL', address='0xBa21Ef4c9f433Ede00badEFcC2754B8E74bd538A', decimals=18.0, key='SWFL-538A'),
 Token(symbol='STARSHIP', address='0x6faDf4aea85e1Cd1d2B4b57d65954b424dDaa6AE', decimals=18.0, key='STARSHIP-a6AE'),
 Token(symbol='BOWL', address='0x760Ea31711aC14cb9Ba81aC25453C6f378fA5794', decimals=9.0, key='BOWL-5794'),
 Token(symbol='BAG', address='0x70881D5c8A5950ceeDf1f1B4b5D4105718642548', decimals=18.0, key='BAG-2548'),
 Token(symbol='Lofi', address='0x1E9aA13a85b8A075c2918e566ff6580B67E28BBD', decimals=9.0, key='Lofi-8BBD'),
 Token(symbol='PHUNK', address='0xB39185e33E8c28e0BB3DbBCe24DA5dEA6379Ae91', decimals=18.0, key='PHUNK-Ae91'),
 Token(symbol='STACK', address='0x56A86d648c435DC707c8405B78e2Ae8eB4E60Ba4', decimals=18.0, key='STACK-0Ba4'),
 Token(symbol='COBRA', address='0x4A7F591A5d20146E23f29447ba693e1ECF5AE7a9', decimals=18.0, key='COBRA-E7a9'),
 Token(symbol='COINTREAU', address='0xaBeef49FD407336d4870e6F1e0F96623241DD61C', decimals=18.0, key='COINTREAU-D61C'),
 Token(symbol='THOL', address='0x207e14389183A94343942de7aFbC607F57460618', decimals=18.0, key='THOL-0618'),
 Token(symbol='DECI', address='0x6b32022693210cD2Cfc466b9Ac0085DE8fC34eA6', decimals=8.0, key='DECI-4eA6'),
 Token(symbol='JEWPEPE', address='0xAdC9F114b51cB18e705DfAB8ACC42651881187e1', decimals=18.0, key='JEWPEPE-87e1'),
 Token(symbol='OHM', address='0x64aa3364F17a4D01c6f1751Fd97C2BD3D7e7f1D5', decimals=9.0, key='OHM-f1D5'),
 Token(symbol='BUZZ', address='0xF3B62184C56a0E6cFe950f60393D2E8039C03Dda', decimals=9.0, key='BUZZ-3Dda'),
 Token(symbol='BabyDoge', address='0xAC57De9C1A09FeC648E93EB98875B212DB0d460B', decimals=9.0, key='BabyDoge-460B'),
 Token(symbol='USDC', address='0x41f7B8b9b897276b7AAE926a9016935280b44E97', decimals=6.0, key='USDC-4E97'),
 Token(symbol='SWISE', address='0x48C3399719B582dD63eB5AADf12A40B4C3f52FA2', decimals=18.0, key='SWISE-2FA2'),
 Token(symbol='KEKE', address='0xf7168c8AbB0ff80116413a8d95396BBdC318A3fF', decimals=7.0, key='KEKE-A3fF'),
 Token(symbol='PKR', address='0x001A8Ffcb0f03e99141652eBCdecDb0384E3bd6c', decimals=18.0, key='PKR-bd6c'),
 Token(symbol='LIFE', address='0xaE4916BDB12bcF41EC47eA881FeaDAED440A9179', decimals=9.0, key='LIFE-9179'),
 Token(symbol='POLI', address='0xa1a36D3537bBe375Cc9694795F663DDC8D516Db9', decimals=18.0, key='POLI-6Db9'),
 Token(symbol='MOONEY', address='0x20d4DB1946859E2Adb0e5ACC2eac58047aD41395', decimals=18.0, key='MOONEY-1395'),
 Token(symbol='MOJO', address='0xD60cC30DFF8f6049A3321028211c2DC26385eedA', decimals=18.0, key='MOJO-eedA'),
 Token(symbol='FUD', address='0xF8a3BeD1f08Bf72Fc7da307e0051eA3A90cA0Ce2', decimals=18.0, key='FUD-0Ce2'),
 Token(symbol='BBANK', address='0xF4b5470523cCD314C6B9dA041076e7D79E0Df267', decimals=18.0, key='BBANK-f267'),
 Token(symbol='$LSVR', address='0x79A06aCb8bdd138BEEECcE0f1605971f3AC7c09B', decimals=18.0, key='$LSVR-c09B'),
 Token(symbol='LAYER', address='0x0fF6ffcFDa92c53F615a4A75D982f399C989366b', decimals=18.0, key='LAYER-366b'),
 Token(symbol='PEJAK', address='0x4EEF7591cCE894Af38e62804cC1F2179DdcD9CcD', decimals=9.0, key='PEJAK-9CcD'),
 Token(symbol='WIZ', address='0x33d20575f20C6A1881F8ab08E69F6fbAFfAEedF2', decimals=12.0, key='WIZ-edF2'),
 Token(symbol='QNT', address='0x4a220E6096B25EADb88358cb44068A3248254675', decimals=18.0, key='QNT-4675'),
 Token(symbol='MEOW', address='0xa73595D936dAf28b691FBfdEed598F6a2163Ab8B', decimals=18.0, key='MEOW-Ab8B'),
 Token(symbol='FOMO', address='0x9bf98AdA56Ef9c624890394570a232361B28C2Ba', decimals=9.0, key='FOMO-C2Ba'),
 Token(symbol='FLONA', address='0xEf27252B567F6B3fe35b34A85bE322917abE524A', decimals=18.0, key='FLONA-524A'),
 Token(symbol='SNT', address='0x744d70FDBE2Ba4CF95131626614a1763DF805B9E', decimals=18.0, key='SNT-5B9E'),
 Token(symbol='7s', address='0xB3917D0ed51391FcDe911586726D9eF015B2fF07', decimals=18.0, key='7s-fF07'),
 Token(symbol='HITMAN', address='0x46d35d444CbAD5C401eeac0676EdC143eb5F0Ba9', decimals=18.0, key='HITMAN-0Ba9'),
 Token(symbol='SUCKMYDICK', address='0x2805eA6f819041e8a322C9f006E1832C11963D36', decimals=9.0, key='SUCKMYDICK-3D36'),
 Token(symbol='FUT', address='0xFC4375e3584Cc6dEc38f3B261DB5C08ABA128D7F', decimals=18.0, key='FUT-8D7F'),
 Token(symbol='GOOD', address='0x50274746430438d503D7D7584E86657590fCe6FD', decimals=9.0, key='GOOD-e6FD'),
 Token(symbol='TLOS', address='0x7825e833D495F3d1c28872415a4aee339D26AC88', decimals=18.0, key='TLOS-AC88'),
 Token(symbol='DGVC', address='0x26E43759551333e57F073bb0772F50329A957b30', decimals=18.0, key='DGVC-7b30'),
 Token(symbol='LGB', address='0x21E783bcf445B515957A10E992aD3c8E9FF51288', decimals=18.0, key='LGB-1288'),
 Token(symbol='Bart', address='0xbEA8f0F9eC63EDADe8Ced1009626992cBf645DF1', decimals=18.0, key='Bart-5DF1'),
 Token(symbol='ETH', address='0x876d3cAef2f883a38a7991CB4BE1A7DFcEF67DB6', decimals=9.0, key='ETH-7DB6'),
 Token(symbol='LMBC', address='0xbe0D4a85F7b07cF1DC699BE0F7A3dDc6AE89aB31', decimals=8.0, key='LMBC-aB31'),
 Token(symbol='ZRX', address='0xE41d2489571d322189246DaFA5ebDe1F4699F498', decimals=18.0, key='ZRX-F498'),
 Token(symbol='QUAD', address='0xAB2A7B5876D707e0126B3A75EF7781c77c8877EE', decimals=18.0, key='QUAD-77EE'),
 Token(symbol='LM', address='0x7BEC98609cB6378D6F995e8f8097Ee78376fbec9', decimals=18.0, key='LM-bec9'),
 Token(symbol='SKEB', address='0x6D614686550B9E1c1DF4b2cD8f91C9D4df66C810', decimals=18.0, key='SKEB-C810'),
 Token(symbol='TOS', address='0x34748FEDAd669C788aaBe4fb325A4587941F7B48', decimals=18.0, key='TOS-7B48'),

In [27]:
ADDRDEC = {t.key: (t.address, int(t.decimals)) for t in tokens if not math.isnan(t.decimals)}
# ADDRDEC = {t.key: (t.address, int(t.decimals)) for t in tokens}

In [28]:

print(len(ADDRDEC))

3717

In [29]:
flashloan_tokens = bot.setup_flashloan_tokens(["BNT"])
CCm = bot.setup_CCm(None)

2023-07-09 06:37:55,818 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3479, cid='0xbd63d8d7cfa8c1269795d33c6b38c38a54587e8f3b332999edd72bc8100735be', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3  SHOP-4B8b/WETH-6Cc2 10000', pair_name=' SHOP-4B8b/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0x546D4695c4fFF0e0aDF0D904CCDE3A13472f9480', anchor=nan, tkn0=' SHOP', tkn1='WETH', tkn0_address='0x64b78325d7495D6d4be92f234fa3f3B8d8964B8b', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key=' SHOP-4B8b', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,819 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3480, cid='0xd304ef4c06d512f81d5f9e21c74f5675a9632818f4fa050d174f37e898b35d9d', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 ABIN-F830/WETH-6Cc2 3000', pair_name='ABIN-F830/WETH-6Cc2', exchange_name='uniswap_v3', fee=3000.0, fee_float=0.003, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=60, liquidity=nan, address='0x596BEF23Db467d0FD7CB996a77B381f9FA113F86', anchor=nan, tkn0='ABIN', tkn1='WETH', tkn0_address='0x1934E252f840aA98dfCe2b6205B3E45c41AeF830', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='ABIN-F830', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,820 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3481, cid='0x144fe5b8083aafb519c016bcb66ee925c1ab917d7e6f9fbfd42bccf55365cdbd', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 $HACHI-AAFf/WETH-6Cc2 10000', pair_name='$HACHI-AAFf/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0xFc7567f6Cd97269d63C473d0A9776AA9fD9A1Ea2', anchor=nan, tkn0='$HACHI', tkn1='WETH', tkn0_address='0x967B0c95295ead8fAef70d26A7846AeCD349AAFf', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='$HACHI-AAFf', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,821 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3482, cid='0x927e661f4bb5a9ee4bde7f8e2d4f408d420ad527a7b765b691ce8e02ebcd3383', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 $MNB-A366/WETH-6Cc2 10000', pair_name='$MNB-A366/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0xBa4D7563556F5aAF04c4415644317e1154369969', anchor=nan, tkn0='$MNB', tkn1='WETH', tkn0_address='0x42b91f1d05afeA671a2dA3c780eDa2aBf0A2A366', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='$MNB-A366', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,821 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3483, cid='0x76753b5b54b55131a25e87c991e696fa9d9121b9f452d4b2aa9fd34dd7eb3b18', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 $MONG-FD9C/WETH-6Cc2 10000', pair_name='$MONG-FD9C/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0x95Ad5d38aD6BB17500E9a57BFeb6569B36A94EA5', anchor=nan, tkn0='$MONG', tkn1='WETH', tkn0_address='0x1ce270557C1f68Cfb577b856766310Bf8B47FD9C', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='$MONG-FD9C', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,822 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3484, cid='0xadcb11ee3735a25702ccc4a570610becd5d06d0bd32103ca050dcf6d36fada78', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 $PAPER-9397/WETH-6Cc2 10000', pair_name='$PAPER-9397/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0x9bdB711C26e52347C8F21596D94C5e7b4db17ED4', anchor=nan, tkn0='$PAPER', tkn1='WETH', tkn0_address='0x21018CBC9ad730542130bE180b577b74DB2a9397', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='$PAPER-9397', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,823 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3485, cid='0xcd34598f4366ce13b0d2107704d4543f8686f8158d63aa32c0903982a954a276', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 0xBTC-5B31/WETH-6Cc2 10000', pair_name='0xBTC-5B31/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0xaFF587846a44aa086A6555Ff69055D3380fD379a', anchor=nan, tkn0='0xBTC', tkn1='WETH', tkn0_address='0xB6eD7644C69416d67B522e20bC294A9a9B405B31', tkn0_decimals=8.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='0xBTC-5B31', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,824 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3486, cid='0x174e3cfd0ea99c636a8b55a8b8474ab28243c362da409a9fb729330d5ef15a82', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 1INCH-C302/ICHI-C4d6 3000', pair_name='1INCH-C302/ICHI-C4d6', exchange_name='uniswap_v3', fee=3000.0, fee_float=0.003, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=60, liquidity=nan, address='0x8c5220cd975dAEaf7733E1CAC88804c95e1c9803', anchor=nan, tkn0='1INCH', tkn1='ICHI', tkn0_address='0x111111111117dC0aa78b770fA6A738034120C302', tkn0_decimals=18.0, tkn1_address='0x111111517e4929D3dcbdfa7CCe55d30d4B6BC4d6', tkn1_decimals=18.0, tkn0_key='1INCH-C302', tkn1_key='ICHI-C4d6')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,824 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3487, cid='0x6ddbca5a8591b39630af14f7decd0c0efe67babb1685c1e3592e2142febe7033', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 1INCH-C302/USDC-eB48 10000', pair_name='1INCH-C302/USDC-eB48', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0x9feBc984504356225405e26833608b17719c82Ae', anchor=nan, tkn0='1INCH', tkn1='USDC', tkn0_address='0x111111111117dC0aa78b770fA6A738034120C302', tkn0_decimals=18.0, tkn1_address='0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48', tkn1_decimals=6.0, tkn0_key='1INCH-C302', tkn1_key='USDC-eB48')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,825 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3488, cid='0x11e75b91096705d79563b02b09f65d29ccafab5c6584ffa41a14a64b2f32515a', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 1INCH-C302/USDT-1ec7 10000', pair_name='1INCH-C302/USDT-1ec7', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0xa21Ed0Af81d7cdaEbD06d1150C166821cFCD64FF', anchor=nan, tkn0='1INCH', tkn1='USDT', tkn0_address='0x111111111117dC0aa78b770fA6A738034120C302', tkn0_decimals=18.0, tkn1_address='0xdAC17F958D2ee523a2206206994597C13D831ec7', tkn1_decimals=6.0, tkn0_key='1INCH-C302', tkn1_key='USDT-1ec7')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,826 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3489, cid='0xb3364b6afce2d8cefeafcf3179e826cbfc3fe8330c426b78fe3767c4e0253449', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 1INCH-C302/WETH-6Cc2 10000', pair_name='1INCH-C302/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0xE931b03260B2854e77e8dA8378A1BC017b13cb97', anchor=nan, tkn0='1INCH', tkn1='WETH', tkn0_address='0x111111111117dC0aa78b770fA6A738034120C302', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='1INCH-C302', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,826 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3490, cid='0xdf54441d785ef28cd4a13173f2d453151d9e37a648fb56c203bd9736cf216aa3', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 1INCH-C302/WETH-6Cc2 3000', pair_name='1INCH-C302/WETH-6Cc2', exchange_name='uniswap_v3', fee=3000.0, fee_float=0.003, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=60, liquidity=nan, address='0xd35EFAE4097d005720608Eaf37E42a5936C94B44', anchor=nan, tkn0='1INCH', tkn1='WETH', tkn0_address='0x111111111117dC0aa78b770fA6A738034120C302', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='1INCH-C302', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,827 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3492, cid='0xcc6290b75a5fe0f88a9efd2c26f5573d36349cd01993134dcd187db5c3d292b0', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 AAVE-DaE9/USDC-eB48 3000', pair_name='AAVE-DaE9/USDC-eB48', exchange_name='uniswap_v3', fee=3000.0, fee_float=0.003, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=60, liquidity=nan, address='0xdceaf5d0E5E0dB9596A47C0c4120654e80B1d706', anchor=nan, tkn0='AAVE', tkn1='USDC', tkn0_address='0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9', tkn0_decimals=18.0, tkn1_address='0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48', tkn1_decimals=6.0, tkn0_key='AAVE-DaE9', tkn1_key='USDC-eB48')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,828 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3493, cid='0x108f52ac61ad4f58c9715cffb7bf4740d35b1e2e70c0c009e8a664f226a7bb50', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 AAVE-DaE9/WETH-6Cc2 10000', pair_name='AAVE-DaE9/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0x1353fE67fFf8f376762b7034DC9066f0bE15a723', anchor=nan, tkn0='AAVE', tkn1='WETH', tkn0_address='0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='AAVE-DaE9', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,829 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3494, cid='0xb4d86d5e1d27669c2ad6dcc2aa9278f8ac4a52171bcf0bbba16f6ee500d4a365', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 AAVE-DaE9/WETH-6Cc2 3000', pair_name='AAVE-DaE9/WETH-6Cc2', exchange_name='uniswap_v3', fee=3000.0, fee_float=0.003, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=60, liquidity=nan, address='0x5aB53EE1d50eeF2C1DD3d5402789cd27bB52c1bB', anchor=nan, tkn0='AAVE', tkn1='WETH', tkn0_address='0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='AAVE-DaE9', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,830 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3495, cid='0xdb6cf5952f8c07dc18320c69d5596bead5e14069e200d10b467fbaa76ea9adc1', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 ABT-E986/WETH-6Cc2 3000', pair_name='ABT-E986/WETH-6Cc2', exchange_name='uniswap_v3', fee=3000.0, fee_float=0.003, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=60, liquidity=nan, address='0xbffB28B738Eabd04dA7D83f3e7ed899da6fd9bf1', anchor=nan, tkn0='ABT', tkn1='WETH', tkn0_address='0xB98d4C97425d9908E66E53A6fDf673ACcA0BE986', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='ABT-E986', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,831 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3496, cid='0xa21a4d44ba9474f6d3ae467c6ca5803b701427858f9264f89393649ed145352a', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 ACR-E3CF/USDC-eB48 10000', pair_name='ACR-E3CF/USDC-eB48', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0xdA590fcA64d1831414CffE85CcF5770b9bF155bb', anchor=nan, tkn0='ACR', tkn1='USDC', tkn0_address='0x76306F029f8F99EFFE509534037Ba7030999E3CF', tkn0_decimals=18.0, tkn1_address='0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48', tkn1_decimals=6.0, tkn0_key='ACR-E3CF', tkn1_key='USDC-eB48')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,831 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3497, cid='0x2345c696077bd6c8eedcafa33e317f3860476e0807be367678284bc7b27d4a5e', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 ACRIA-c58A/WETH-6Cc2 10000', pair_name='ACRIA-c58A/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0x8a0c594850b13aA151947a74Fd55fcdFf096EAD5', anchor=nan, tkn0='ACRIA', tkn1='WETH', tkn0_address='0x44F5909E97E1CBf5FBbDF0FC92FD83cde5d5c58A', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='ACRIA-c58A', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,832 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3498, cid='0xb0cebc0dec575b9a3e992e929310a2500fb5b7bfcce20ed9e91fd789150ffe29', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 ACRIA-c58A/WETH-6Cc2 3000', pair_name='ACRIA-c58A/WETH-6Cc2', exchange_name='uniswap_v3', fee=3000.0, fee_float=0.003, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=60, liquidity=nan, address='0xCC0E24cE32d840369F6D9fBcC884d2dCf7eB7e4A', anchor=nan, tkn0='ACRIA', tkn1='WETH', tkn0_address='0x44F5909E97E1CBf5FBbDF0FC92FD83cde5d5c58A', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='ACRIA-c58A', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]


2023-07-09 06:37:55,833 [fastlane:ERROR] - [get_curves] error converting pool to curve PoolAndTokens(ConfigObj=Config(network=_ConfigNetworkMainnet(), db=_ConfigDBPostgres(), logger=_ConfigLoggerDefault(), provider=_ConfigProviderAlchemy()), id=3499, cid='0xc8de977cdeb53da2bc34c08d2c39186c29f2cb96101ff1d9a2581e8712425e88', last_updated=nan, last_updated_block=0.0, descr='uniswap_v3 ACX-F82F/WETH-6Cc2 10000', pair_name='ACX-F82F/WETH-6Cc2', exchange_name='uniswap_v3', fee=10000.0, fee_float=0.01, tkn0_balance=nan, tkn1_balance=nan, z_0=0, y_0=0, A_0=0, B_0=0, z_1=0, y_1=0, A_1=0, B_1=0, sqrt_price_q96=nan, tick=nan, tick_spacing=200, liquidity=nan, address='0x508acdC358be2ed126B1441F0Cff853dEc49d40F', anchor=nan, tkn0='ACX', tkn1='WETH', tkn0_address='0x44108f0223A3C3028F5Fe7AEC7f9bb2E66beF82F', tkn0_decimals=18.0, tkn1_address='0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2', tkn1_decimals=18.0, tkn0_key='ACX-F82F', tkn1_key='WETH-6Cc2')
[ERR=cannot convert float NaN to integer]



In [30]:
pools = db.get_pool_data_with_tokens()

In [31]:
print(len(pools))

5190

In [32]:
# single = bot.run_single_mode(flashloan_tokens, CCm, arb_mode, run_data_validator=True)

single = bot._run(flashloan_tokens=flashloan_tokens, CCm=CCm, arb_mode=arb_mode, data_validator=True, result="calc_trade_instr")

2023-07-09 06:37:57,012 [fastlane:WARNING] - base_exchange must be bancor_v3 for single_triangle_bancor3, setting it to bancor_v3
2023-07-09 06:37:57,013 [fastlane:INFO] - flashloan_tokens for arb_mode=single_triangle_bancor3 will be overwritten.
/Users/mikewcasale/Local/projects/bancor/carbonbot/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: divide by zero encountered in scalar divide
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))
/Users/mikewcasale/Local/projects/bancor/carbonbot/fastlane_bot/tools/optimizer.py:1157: RuntimeWarning: invalid value encountered in subtract
  jac[:, j] = (func(x_plus) - y) / Dxj
/Users/mikewcasale/Local/projects/bancor/carbonbot/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: divide by zero encountered in scalar divide
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))
/Users/mikewcasale/Local/projects/bancor/carbonbot/fastlane_bot/tools/optimizer.py:1157: RuntimeWarning: invalid value encountered in subtract
  jac[:, j] = (func(x_plus) - y) / Dxj
/Users/mikewcasale/Local/projects/bancor/carbonbot/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: divide by zero encountered in scalar divide
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))
/Users/mikewcasale/Local/projects/bancor/carbonbot/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: divide by zero encountered in scalar divide
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))
2023-07-09 06:37:58,970 [fastlane:INFO] - Found 4 eligible arb opportunities.
2023-07-09 06:37:58,971 [fastlane:INFO] - Validating pool data.

AttributeError: 'NoneType' object has no attribute 'update_from_pool_info'

In [ ]:
# bot.run(
#                 polling_interval=12,
#                 flashloan_tokens=["BNT"],
#                 mode="single",
#                 arb_mode="bancor_v3",
#                 run_data_validator=True
#             )